@model IEnumerable<PizzaOrdering.Models.PizzaInfoViewModel>
@using PizzaOrdering.DataLayer.Models

@{
    ViewData["Title"] = "Pizza";
    var ingredients = ViewBag.Ingredients as IEnumerable<Ingredient>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="form-inline" asp-action="Filter" method="Get">
  <input 
    placeholder="Введите максимальную цену" 
    type="number" 
    name="maxPrice" 
    class="col-sm-3"
  />
  <input 
    placeholder="Введите минимальную цену" 
    type="number" 
    name="minPrice" 
    class="col-sm-3"
  />
  <input 
    placeholder="Введите размер" 
    type="number" 
    name="size" 
  />
  <select size="2" name="ingredientIds" multiple>
    @foreach (var ingredient in ingredients) {
      <option value="@ingredient.Id">@ingredient.Name</option>
    } 
  </select>
  <input type="submit" value="Search" class="btn btn-primary"> 
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Ingredients</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
              @foreach (var ingredient in item.Ingredients) {
                @ingredient.Name @if (ingredient != item.Ingredients.Last()) { <text>&nbsp;</text> }
              }
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Get" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a asp-action="AddPizzaToCart" asp-route-returnUrl="@Context.Request.Path" asp-route-quantity="1" asp-route-pizzaId="@item.Id" asp-controller="Cart">Add to cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
