@model IEnumerable<PizzaOrdering.LogicLayer.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Pizza)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Pizza.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>
                <a asp-action="RemovePizzaFromCart" asp-route-pizzaId="@item.Pizza.Id">Delete from cart</a>
            </td>
        </tr>
    }
    </tbody>
</table>